<header>
  <div>
    <a class="header__link" routerLink="/" routerLinkActive="active">
      <img src="../../assets/logo.png" alt="The Three Broomsticks" />
    </a>
    <p>The Three Broomsticks</p>
  </div>
  <div class="header__buttons">
    <!-- Check if the user is an employee. If yes, display the Employee button. If no, display the booking button -->
    @if (!employeeUser()) {
      <a routerLink="/search" routerLinkActive="active">Booking</a>
    } @else {
      <a routerLink="/employee" routerLinkActive="active"
        >Employee<br />
        Portal</a
      >
    }
    @if (getLoggedInUser() === null) {
      <button (click)="login()">Login</button>
    } @else {
      <a routerLink="/profile" routerLinkActive="active">Profile</a>
      <button (click)="logout()">Sign Out</button>
    }
  </div>
</header>
