.logo-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo-container img {
  height: 100%;
  max-height: 64px;
  width: auto;
}

.spacer {
  flex: 1 1 auto;
}

.mat-toolbar-row a[mat-raised-button],
.mat-toolbar-row button[mat-raised-button] {
  margin-right: 8px;
}

.mat-toolbar-row a[mat-raised-button]:last-child,
.mat-toolbar-row button[mat-raised-button]:last-child {
  margin-right: 0;
}
