header {
  margin: 4% auto;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
  height: 10vh;
  border-radius: 0.5vw;
  font-size: 1em;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 2vw;
}

.header__buttons {
  width: 50%;
  justify-content: space-around;
  gap: 0;
}

.header__link {
  height: 100%;
}

a {
  text-align: center;
}

img {
  width: auto;
  height: 100%;
}

p {
  margin: 0;
}

button {
  background-image: none;
  background: transparent;
  border: none;
}
