section {
  border: 1px black solid;
  background-color: #966f33;
  width: 60%;
  margin: 10px;
}

div {
  background-color: #966f33;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

h3 {
  background-color: #966f33;
}

p {
  background-color: #966f33;
}

.room__unavailable {
  color: #6b1f1a;
  font-weight: 500;
}

img {
  width: 30%;
}

button {
  height: 50px;
  margin-left: 5px;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
