section {
  border: 1px black solid;
  background-color: #966f33;
}

div {
  background-color: #966f33;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

h3 {
  background-color: #966f33;
}

p {
  background-color: #966f33;
  margin: 0;
  max-width: 30%;
}

.room__unavailable {
  color: #6b1f1a;
  font-weight: 500;
}

img {
  width: 200px;
  height: 125px;
}

button {
  height: 50px;
  margin-left: 5px;
}
