section {
  border: 1px white solid;
  /* background-color: #966f33; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  border-radius: 0.5vw;
}

form {
  border-radius: 0.5vw;
  /* background-color: #966f33; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

h3 {
  /* background-color: #966f33; */
}

.select-room__div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-room__h3-div {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.select__btn {
  width: 100%;
  height: 6vh;
  border-radius: 0.4vw;
}

div {
  /* background-color: #966f33; */
  margin: 1vw;
  /* border: 1px black solid; */
  border-radius: 0.4vw;
}

.current-selection__div {
  border: 1px black solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p {
  /* background-color: #966f33; */
}

.total {
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 2vh;
}

.tax-statement {
  padding-top: 0;
  margin: 0 auto;
  font-size: 12px;
}

.submit__btn {
  width: 50%;
  height: 9vh;
  font-size: 24px;
  margin-bottom: 10%;
  border-radius: 0.4vw;
}

.submit__btn:disabled {
  margin: 10px auto 0;
}

.current-selection__error {
  color: red;
  font-weight: 400;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}

.selection__div {
  border: 1px white solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selected-room {
  background-color: #966f33;
}

.selected-room * {
  background-color: #966f33;
}
