section {
  border: 1px black solid;
  background-color: #966f33;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  border-radius: 0.5vw;
}

h3 {
  background-color: #966f33;
}

div {
  background-color: #966f33;
  margin: 5px;
  border: 1px black solid;
  border-radius: 0.4vw;
}

.current-selection__div {
  border: 1px black solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p {
  background-color: #966f33;
  /* padding: 10px; */
  margin: 5px;
}

.total {
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.tax-statement {
  padding-top: 0;
  margin: 0 auto;
  font-size: 12px;
}

button {
  width: 50%;
  height: 75px;
  font-size: 24px;
  margin-bottom: 10px;
  border-radius: 0.4vw;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
  margin: 10px auto 0;
}

.current-selection__error {
  color: #6b1f1a;
  font-weight: 600;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}
