form {
  display: flex;
  flex-direction: column;
  gap: 2.5vw;
  background-color: transparent;
  width: 90%;
}

.edit-form__div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p {
  width: 50%;
}

label {
  max-width: 50%;
}

input {
  width: 40%;
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
  text-align: center;
}

input:disabled {
  opacity: 0.7;
}

select {
  width: 40%;
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
  text-align: center;
}

option {
  background-color: white;
  color: black;
  text-align: center;
}

button {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
  background-image: none;
  height: 5vh;
}

.modal__p {
  width: 100%;
}

.modal__buttons {
  display: flex;
  justify-content: space-around;
  gap: 3vw;
  width: 100%;
}

.modal__btn {
  width: 40%;
}
