form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 2vw;
  background-color: transparent;
  width: 90%;
  /* margin: 0 4vw 0 0; */
}

p {
  width: 30%;
}

.edit-form__div {
  display: flex;
  justify-content: space-between;
}

label {
  max-width: 50%;
}

input {
  width: 40%;
}

select {
  width: 40%;
}

option {
  background-color: white;
  color: black;
}

button {
  background-color: #966f33;
  background-image: none;
  height: 5vh;
  /* width: 30%;
  align-self: flex-end; */
}
