form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 1vw;
  background-color: transparent;
  width: 90%;
  /* margin: 0 4vw 0 0; */
}

p {
  width: 30%;
}

.edit-form__div {
  display: flex;
  justify-content: space-between;
}

input {
  width: 40%;
}

select {
  width: 50%;
}

option {
  background-color: white;
  color: black;
}
