<!-- Allow users to specify when they want to visit and their room requirements -->

<div class="booking-navbar__container">
  <mat-card appearance="outlined" class="mat-bg-secondary-container booking-navbar__card">
    <mat-card-header>
      <mat-card-title class="mat-text-on-secondary-container">Start a new booking</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="findRoomsForm" class="mat-bg-secondary-container booking-navbar__form">
        <div class="date-fields-vertical">
          <div class="input-group">
            <mat-form-field appearance="outline">
              <mat-label>Check-In Date</mat-label>
              <input matInput [matDatepicker]="picker" />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <!-- <label for="checkInDate" class="mat-text-on-secondary-container">Check-In Date</label>
            <input
              matInput
              [matDatepicker]="picker"
              id="checkInDate"
              name="checkInDate"
              [attr.min]="todayString"
              formControlName="checkInDate"
              class="mat-text-on-secondary-container"
            /> -->
          </div>
          <div class="input-group">
            <mat-form-field appearance="outline">
              <mat-label>Check-out Date</mat-label>
              <input matInput [matDatepicker]="pickerOut" />
              <mat-datepicker-toggle matSuffix [for]="pickerOut"></mat-datepicker-toggle>
              <mat-datepicker #pickerOut></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div id="roomsSelector" formArrayName="rooms">
          <h6 class="mat-text-on-secondary-container">Number of Guests</h6>
          <!-- Dynamically add number of rooms to search for -->
          <div class="number-of-rooms">
            @for (room of rooms.controls; track $index) {
              <div class="roomInputDiv">
                <label class="mat-text-on-secondary-container" [for]="'room-' + $index"
                  >Room {{ $index + 1 }}</label
                >
                <input
                  type="number"
                  [id]="'room-' + $index"
                  class="numGuestsInputs mat-text-on-secondary-container"
                  [attr.min]="1"
                  [attr.max]="4"
                  [attr.default]="1"
                  [formControlName]="$index"
                />
              </div>
            }
          </div>
          <!-- Only allow upto four rooms-->
          @if (rooms.length < 4) {
            <div id="addAndRemoveRoomButtonsDiv">
              <button
                value="Add Room"
                (click)="addRoom()"
                id="addRoomButton"
                class="mat-bg-secondary mat-text-on-secondary"
              >
                Add Room
              </button>
              <button
                id="removeRoomButton"
                (click)="removeRoom(rooms.length - 1)"
                class="mat-bg-secondary mat-text-on-secondary"
              >
                Remove Room
              </button>
            </div>
          } @else {
            <button
              id="removeRoomButtonAlt"
              (click)="removeRoom(rooms.length - 1)"
              class="mat-bg-secondary mat-text-on-secondary"
            >
              Remove Room
            </button>
            <p>Contact hotel staff for bookings larger than 4 rooms</p>
          }
        </div>
        <div id="checkboxesDiv">
          <label
            for="adaAccessible"
            id="adaAccessibleLabel"
            class="mat-text-on-secondary-container"
          >
            <input
              type="checkbox"
              id="adaAccessible"
              formControlName="adaAccessible"
              class="mat-text-on-secondary-container"
            />
            ADA-Accessible
          </label>
          <label for="nonSmoking" id="nonSmokingLabel" class="mat-text-on-secondary-container">
            <input
              type="checkbox"
              id="nonSmoking"
              formControlName="nonSmoking"
              class="mat-text-on-secondary-container"
            />
            Non-Smoking
          </label>
        </div>
      </form>
    </mat-card-content>
    <div class="search-btn-wrapper">
      <button
        type="button"
        (click)="submitfindRoomsForm()"
        [disabled]="findRoomsForm.invalid"
        id="submitSearchButton"
        class="mat-bg-primary mat-text-on-primary"
      >
        Search
      </button>
    </div>
  </mat-card>
</div>
