/* Fix input color for number of guests and date fields in this component */
.booking-navbar__card .mdc-text-field__input,
.booking-navbar__card input[type='number'],
.booking-navbar__card input[type='date'] {
  color: var(--mat-color-on-secondary, #25190c) !important;
}
/* Center the search button at the bottom of the container */
.search-btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2vh;
}

.booking-navbar__form {
  display: flex;
  justify-content: space-around;
}

/* Entire booking navbar level */

.booking-navbar__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin: 20px auto;
  border-radius: 0.5vw;
  width: 90%;
  max-width: 1200px;
}

/* "Start a new booking" */
h3 {
  margin: 0 0 2vw 3vw;
  font-size: 1.6vw;
}

.booking-navbar__card form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 2vw 2vw;
  border-radius: 0.5vw;
  width: 100%;
  padding: 2vw 0 1vw 0;
  box-sizing: border-box;
}

#checkInDiv,
#checkOutDiv {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
  margin-top: 0.5vw;
}

/* entire bordered area for adding rooms */
#roomsSelector {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 0.1vw white solid;
  border-radius: 0.5vw;
  margin: 0.5vw;
  min-width: 220px;
  max-width: 320px;
  padding: 1vw 1vw 0.5vw 1vw;
  box-sizing: border-box;
}

/* Room {{i}}: [    ] [Remove] */
.roomInputDiv {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.7vw;
  margin: 0.2vw 0 0.2vw 0;
  padding: 0;
  min-width: 90px;
  max-width: 140px;
  height: 3.2vw;
  min-height: 44px;
  align-items: center;
  margin-bottom: 1vh;
}

/* "Number of Guests" */
h6 {
  font-weight: 500;
  font-size: 1.2vw;
  margin: 0.5vw 0.5vw 1vw 2vw;
  padding: 0.2em 0.5em;
  letter-spacing: 0.02em;
  transition:
    font-size 0.2s,
    padding 0.2s;
}

.numGuestsInputs {
  font-size: 0.9vw;
  width: 100%;
  box-sizing: border-box;
  height: 2vw;
  min-height: 28px;
  max-height: 2.2vw;
}

.number-of-rooms {
  display: flex;
  flex-direction: column;
}

/* ADA-Accessible and Non-smoking */
#checkboxesDiv {
  display: flex;
  flex-direction: column;
  gap: 1.2vw;
  margin-top: 0.5vw;
  margin-bottom: 2vw;
  padding-bottom: 1vw;
}

#addAndRemoveRoomButtonsDiv {
  display: flex;

  align-items: center;
  gap: 0.5vw;
  margin-top: 1.5vw;
}

/* "contact hotel staff for bookings larger than 4 rooms"  */
p {
  margin: 0 1vw 0.5vw 1vw;
  max-width: 12vw;
  text-align: justify;
  font-style: italic;
  color: linen;
}

label {
  font-size: 1.1vw;
  margin-bottom: 0.8vw;
}

.numGuestsLabel {
  font-size: 1.1vw;
  margin: 0 0 0.3vw 0.7vw;
}

/* When displayed with <p> tag */
#removeRoomButtonAlt {
  margin: 0.5vw 0.5vw;
  font-size: 1.1vw;
  border-radius: 0.3vw;
  margin: 0.5vw 0.5vw;
  padding: 0.5em 1.2em;
  min-width: 90px;
  min-height: 36px;
  transition:
    font-size 0.2s,
    padding 0.2s;
}
@media (max-width: 900px) {
  h6 {
    font-size: 2vw;
    padding: 0.2em 0.2em;
    margin-left: 1vw;
  }
  #removeRoomButton,
  #addRoomButton {
    font-size: 1.5vw;
    min-width: 90px;
    max-width: 140px;
    width: 120px;
    height: 3vh;
    padding: 0.4em 0.8em;
    flex: 1 1 80px;
  }
}

/* the checkboxes */
#adaAccessible,
#nonSmoking {
  margin-right: 1vw;
  width: 2em;
  height: 2em;
}

#adaAccessibleLabel,
#nonSmokingLabel {
  margin-bottom: 0.2vw;
}

#submitSearchButton {
  font-size: 1.6vw;
  border-radius: 0.3vw;
  width: 50%;
}

.date-fields-vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;
}

.date-fields-vertical .input-group {
  display: flex;
  flex-direction: column;
}
