footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid white;
  border-radius: 0.5vw;
  height: 10vh;
}

.footer__link {
  height: 100%;
}

img {
  width: auto;
  height: 100%;
}

p {
  margin: 0;
  font-size: 14px;
}
