full-calendar {
  height: 70vh;
}

button {
  background-image: none;
}

@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/core/main.css';

div:hover {
  opacity: 1;
}

.fc-event:hover {
  filter: none !important;
  background-color: inherit !important;
  cursor: default !important;
}
