<section>
  <div class="manage-users__header">
    <h2>Manage Users</h2>
    <button (click)="openEditModal(null)">Add User</button>
  </div>
  <table>
    <thead>
      <tr>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Status</th>
        <th>Address</th>
        <th>Phone Number</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      @for (user of users(); track user.id) {
      <tr>
        <td>{{ user?.firstName }}</td>
        <td>{{ user?.middleName }}</td>
        <td>{{ user?.lastName }}</td>
        <td class="table__element">{{ user?.email }}</td>
        <td>{{ user?.role }}</td>
        <td>@if (user?.deleted) { Deactivated } @else { Active }</td>
        <td class="table__element">{{ user?.address }}</td>
        <td>{{ user?.phoneNumber }}</td>
        <td class="td__btn">
          <div class="btn__div">
            <button (click)="openEditModal(user)">Edit</button>
            @if (!user?.deleted) {
            <button (click)="openDeleteConfirmation(user)">Delete</button>
            } @else {
            <button (click)="openReactivationConfirmation(user)">Reactivate</button>
            }
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>

  <div class="modal edit__modal" *ngIf="showEditModal">
    <div class="modal__content edit-modal__content">
      @if (selectedUser()) { @if (selectedUser()!.id > 0) {
      <p class="modal__p">What changes need to be made to the account?</p>
      } @else {
      <p class="modal__p">Please add the following details</p>

      } }
      <form [formGroup]="editUserForm" (ngSubmit)="openConfirmationModal()">
        <h3>{{ selectedUser()?.firstName }} {{ selectedUser()?.lastName }}</h3>
        <div class="edit-form">
          <div class="edit-form__div">
            <p>Role:</p>
            <select formControlName="roleControl">
              @for (option of roleOptions; track $index) {
              <option [ngValue]="option">{{ option }}</option>
              }
            </select>
          </div>
          <div class="edit-form__div">
            <label for="firstNameControl">First Name* </label>
            <div class="edit-form__input-div">
              <input
                type="text"
                id="firstNameControl"
                name="firstNameControl"
                formControlName="firstNameControl"
              />
              <div
                class="error"
                *ngIf="
                  editUserForm.get('firstNameControl')?.touched &&
                  editUserForm.get('firstNameControl')?.invalid
                "
              >
                <span
                  class="edit__error-span"
                  *ngIf="editUserForm.get('firstNameControl')?.errors?.['required']"
                >
                  First name is required.
                </span>
                <span
                  class="edit__error-span"
                  *ngIf="editUserForm.get('firstNameControl')?.errors?.['minlength']"
                >
                  Must be at least 2 characters.
                </span>
                <span
                  class="edit__error-span"
                  *ngIf="editUserForm.get('firstNameControl')?.errors?.['maxlength']"
                >
                  Cannot exceed 255 characters.
                </span>
              </div>
            </div>
          </div>
          <div class="edit-form__div">
            <label for="middleNameControl">Middle Name </label>
            <div class="edit-form__input-div">
              <input
                type="text"
                id="middleNameControl"
                name="middleNameControl"
                formControlName="middleNameControl"
              />
            </div>
            <div
              class="error"
              *ngIf="
                editUserForm.get('middleNameControl')?.touched &&
                editUserForm.get('middleNameControl')?.invalid
              "
            >
              <span
                class="edit__error-span"
                *ngIf="editUserForm.get('middleNameControl')?.errors?.['maxlength']"
              >
                Cannot exceed 255 characters.
              </span>
            </div>
          </div>
          <div class="edit-form__div">
            <label for="lastNameControl">Last Name* </label>
            <div class="edit-form__input-div">
              <input
                type="text"
                id="lastNameControl"
                name="lastNameControl"
                formControlName="lastNameControl"
              />
              <div
                class="error"
                *ngIf="
                  editUserForm.get('lastNameControl')?.touched &&
                  editUserForm.get('lastNameControl')?.invalid
                "
              >
                <span
                  class="edit__error-span"
                  *ngIf="editUserForm.get('lastNameControl')?.errors?.['required']"
                >
                  Last name is required.
                </span>
                <span
                  class="edit__error-span"
                  *ngIf="editUserForm.get('lastNameControl')?.errors?.['minlength']"
                >
                  Must be at least 2 characters.
                </span>
                <span
                  class="edit__error-span"
                  *ngIf="editUserForm.get('lastNameControl')?.errors?.['maxlength']"
                >
                  Cannot exceed 255 characters.
                </span>
              </div>
            </div>
          </div>
          <div class="edit-form__div">
            <label for="emailControl">Email* </label>
            <div class="edit-form__input-div">
              <input
                type="text"
                id="emailControl"
                name="emailControl"
                formControlName="emailControl"
              />
              <div
                class="error"
                *ngIf="
                  editUserForm.get('emailControl')?.touched &&
                  editUserForm.get('emailControl')?.invalid
                "
              >
                <span
                  class="edit__error-span"
                  *ngIf="editUserForm.get('emailControl')?.errors?.['required']"
                >
                  Email is required.
                </span>
                <span
                  class="edit__error-span"
                  *ngIf="editUserForm.get('emailControl')?.errors?.['minlength']"
                >
                  Must be at least 2 characters.
                </span>
                <span
                  class="edit__error-span"
                  *ngIf="editUserForm.get('emailControl')?.errors?.['maxlength']"
                >
                  Cannot exceed 255 characters.
                </span>
              </div>
            </div>
          </div>
          <div class="edit-form__div">
            <label for="homeAddressControl">Address* </label>
            <div class="edit-form__input-div">
              <input
                type="text"
                id="homeAddressControl"
                name="homeAddressControl"
                formControlName="homeAddressControl"
              />
              <div
                class="error"
                *ngIf="
                  editUserForm.get('homeAddressControl')?.touched &&
                  editUserForm.get('homeAddressControl')?.invalid
                "
              >
                <span
                  class="edit__error-span"
                  *ngIf="editUserForm.get('homeAddressControl')?.errors?.['required']"
                >
                  Address is required.
                </span>
                <span
                  class="edit__error-span"
                  *ngIf="editUserForm.get('homeAddressControl')?.errors?.['minlength']"
                >
                  Must be at least 2 characters.
                </span>
                <span
                  class="edit__error-span"
                  *ngIf="editUserForm.get('homeAddressControl')?.errors?.['maxlength']"
                >
                  Cannot exceed 255 characters.
                </span>
              </div>
            </div>
          </div>
          <div class="edit-form__div">
            <label for="phoneNumberControl">Phone Number* </label>
            <div class="edit-form__input-div">
              <input
                type="number"
                id="phoneNumberControl"
                name="phoneNumberControl"
                formControlName="phoneNumberControl"
                pattern="[0-9]{10}"
              />
              <div
                class="error"
                *ngIf="
                  editUserForm.get('phoneNumberControl')?.touched &&
                  editUserForm.get('phoneNumberControl')?.invalid
                "
              >
                <span
                  class="edit__error-span"
                  *ngIf="editUserForm.get('phoneNumberControl')?.errors?.['required']"
                >
                  Phone number is required.
                </span>
                <span
                  class="edit__error-span"
                  *ngIf="editUserForm.get('phoneNumberControl')?.errors?.['pattern']"
                >
                  Please input your phone number in a 10 digit format (1234567890).
                </span>
              </div>
            </div>
          </div>
          <div class="edit-form__btn-div">
            <button [disabled]="editUserForm.invalid" type="submit" class="modal__btn">
              Submit
            </button>
            <button type="button" class="modal__btn" (click)="cancelEditModal()">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal" *ngIf="showDeleteConfirmation">
    <div class="modal__content">
      <p class="modal__p">Are you sure you want to deactivate this user?</p>
      <div class="modal__buttons">
        <button class="modal__btn" (click)="confirmDeleteSubmit()">Yes</button>
        <button type="button" class="modal__btn" (click)="cancelDelete()">No</button>
      </div>
    </div>
  </div>
  <div class="modal" *ngIf="showReactivationConfirmation">
    <div class="modal__content">
      <p class="modal__p">Are you sure you want to reactivate this user?</p>
      <div class="modal__buttons">
        <button class="modal__btn" (click)="confirmReactivationSubmit()">Yes</button>
        <button type="button" class="modal__btn" (click)="cancelReactivation()">No</button>
      </div>
    </div>
  </div>
  <div class="modal" *ngIf="showConfirmation">
    <div class="modal__content">
      <p class="modal__p">Are you sure you want to submit the changes?</p>
      <div class="modal__buttons">
        <button class="modal__btn" (click)="confirmSubmit()">Yes</button>
        <button type="button" class="modal__btn" (click)="cancelSubmit()">No</button>
      </div>
    </div>
  </div>
  <div class="modal" *ngIf="showSuccessMessage">
    <div class="modal__content">
      <p class="modal__p">Success! You can close this window.</p>
      <div class="modal__buttons">
        <button (click)="closeSuccessModal()">Close</button>
      </div>
    </div>
  </div>
</section>
