@use '@angular/material' as mat;

html {
  @include mat.system-classes();
}

/* Light Theme */
:root,
:host {
  @include mat.theme-overrides(
    (
      primary: #785836,
      on-primary: #ffffff,
      primary-container: #ffdcbc,
      on-primary-container: #2c1700,
      inverse-primary: #e9bf95,
      primary-fixed: #ffdcbc,
      primary-fixed-dim: #e9bf95,
      on-primary-fixed: #2c1700,
      on-primary-fixed-variant: #5e4121,
      secondary: #6c5b4a,
      on-secondary: #ffffff,
      secondary-container: #f6dfc9,
      on-secondary-container: #25190c,
      secondary-fixed: #f6dfc9,
      secondary-fixed-dim: #d9c3ae,
      on-secondary-fixed: #25190c,
      on-secondary-fixed-variant: #534434,
      tertiary: #5e6139,
      on-tertiary: #ffffff,
      tertiary-container: #e3e6b3,
      on-tertiary-container: #1b1d00,
      tertiary-fixed: #e3e6b3,
      tertiary-fixed-dim: #c7ca99,
      on-tertiary-fixed: #1b1d00,
      on-tertiary-fixed-variant: #464924,
      background: #fdf8f7,
      on-background: #1c1b1b,
      surface: #fdf8f7,
      surface-dim: #ddd9d8,
      surface-bright: #fdf8f7,
      surface-container-lowest: #ffffff,
      surface-container-low: #f7f3f1,
      surface-container: #f1edec,
      surface-container-high: #ece7e6,
      surface-container-highest: #e6e1e0,
      on-surface: #1c1b1b,
      shadow: #000000,
      scrim: #000000,
      surface-tint: #635d5a,
      inverse-surface: #313030,
      inverse-on-surface: #f4f0ee,
      outline: #7e756f,
      outline-variant: #d0c4bc,
      neutral: #797675,
      neutral10: #1c1b1b,
      error: #ba1a1a,
      error-container: #ffdad6,
      on-error: #ffffff,
      on-error-container: #410002,
      surface-variant: #ede0d7,
      on-surface-variant: #4d453f,
      neutral-variant: #7e756e,
      neutral-variant20: #362f29,
      inverse-secondary: #d9c3ae,
      inverse-tertiary: #c7ca99,
    )
  );
  @include mat.toolbar-overrides(
    (
      container-background-color: #785836,
      container-text-color: #ffffff,
    )
  );
}

/* Dark Theme */
.dark {
  @include mat.theme-overrides(
    (
      primary: #e9bf95,
      on-primary: #442b0c,
      primary-container: #5e4121,
      on-primary-container: #ffdcbc,
      inverse-primary: #785836,
      primary-fixed: #ffdcbc,
      primary-fixed-dim: #e9bf95,
      on-primary-fixed: #2c1700,
      on-primary-fixed-variant: #5e4121,
      secondary: #d9c3ae,
      on-secondary: #3b2e1f,
      secondary-container: #534434,
      on-secondary-container: #f6dfc9,
      secondary-fixed: #f6dfc9,
      secondary-fixed-dim: #d9c3ae,
      on-secondary-fixed: #25190c,
      on-secondary-fixed-variant: #534434,
      tertiary: #c7ca99,
      on-tertiary: #30330f,
      tertiary-container: #464924,
      on-tertiary-container: #e3e6b3,
      tertiary-fixed: #e3e6b3,
      tertiary-fixed-dim: #c7ca99,
      on-tertiary-fixed: #1b1d00,
      on-tertiary-fixed-variant: #464924,
      background: #141313,
      on-background: #e6e1e0,
      surface: #141313,
      surface-dim: #141313,
      surface-bright: #3a3938,
      surface-container-lowest: #0f0e0e,
      surface-container-low: #1c1b1b,
      surface-container: #201f1f,
      surface-container-high: #2b2a29,
      surface-container-highest: #363434,
      on-surface: #e6e1e0,
      shadow: #000000,
      scrim: #000000,
      surface-tint: #cdc5c0,
      inverse-surface: #e6e1e0,
      inverse-on-surface: #313030,
      outline: #988f88,
      outline-variant: #4d453f,
      neutral: #797675,
      neutral10: #1c1b1b,
      error: #ffb4ab,
      error-container: #93000a,
      on-error: #690005,
      on-error-container: #ffdad6,
      surface-variant: #4d453f,
      on-surface-variant: #d0c4bc,
      neutral-variant: #7e756e,
      neutral-variant20: #362f29,
      inverse-secondary: #6c5b4a,
      inverse-tertiary: #5e6139,
    )
  );
}

/* Typography */
:root,
:host {
  /* core typography tokens are not generating css variables, hence below */
  --mat-sys-brand-font-family: Roboto;
  --mat-sys-plain-font-family: Roboto;
  --mat-sys-bold-font-weight: 700;
  --mat-sys-medium-font-weight: 500;
  --mat-sys-regular-font-weight: 400;

  @include mat.theme-overrides(
    (
      brand-family: Roboto,
      plain-family: Roboto,
      bold-weight: 700,
      medium-weight: 500,
      regular-weight: 400,
    )
  );
}

body {
  background-color: var(--mat-sys-surface);
  margin: 0;
}

// header.header {
//   background-color: var(--mat-sys-primary);
//   color: --mat-sys-on-primary;
//   height: 64px;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   padding: 0;
// }

article {
  background-color: var(--mat-sys-primary-container);
  color: var(--mat-sys-on-primary-container);
  padding: 16px;
  border-radius: 8px;
}

mat-sidenav {
  height: 100%;
}

.mat-drawer-container {
  background-color: var(--mat-color-on-primary-container) !important;
}

.mat-mdc-raised-button:not([color]):hover {
  background-color: var(--mat-color-tertiary-container);
  color: var(--mat-color-on-tertiary);
}

img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

// article:hover {
//   background-color: var(--mat-sys-primary-container);
// }

.dark article {
  background-color: var(--mat-sys-primary);
  color: var(--mat-color-on-primary);
}

section {
  // background-color: var(--mat-sys-secondary);
}

footer {
  background-color: var(--mat-sys-secondary);
}

button {
  border-radius: 8px;
}

button {
  opacity: 1;
  transition: 0.2s linear;
}

button:hover {
  cursor: pointer;
  opacity: 0.6;
}
