/* You can add global styles to this file, and also import other style files */
* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #674928;
  /* color: #f2c57c; */
  color: #fff;
}

body {
  margin: 0 10%;
  /* max-width: 1200px; */
}

main {
  padding: 12px;
}

button {
  background: url('./assets/stone-button.png');
  opacity: 1;
  transition: 0.3s linear;
  font-size: 16px;
  border-radius: 0.5vw;
}

button:hover {
  cursor: pointer;
  opacity: 0.6;
}

a {
  opacity: 1;
  transition: 0.3s linear;
  text-decoration: none;
}

a:hover {
  opacity: 0.6;
}

.fc-h-event {
  border: none;
}

.fc-event-title {
  font-size: 1.2em;
  text-align: center;
  text-wrap: wrap;
}

.fc-theme-standard .fc-list-day-cushion {
  background-color: #966f33;
}

.fc-list-day-side-text {
  background-color: #966f33;
}

.fc-list-day-text {
  background-color: #966f33;
}

.fc-toolbar-chunk {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.fc .fc-button-group {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 2vw;
}

.fc-button {
  background-image: none;
}

.fc .fc-button-primary {
  background-color: #966f33;
}

.fc .fc-button-primary:disabled {
  background-color: #966f33;
}

.fc .fc-button-primary * {
  background-color: #966f33;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__content {
  background-color: #674928;
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
}
