form {
  display: flex;
  flex-direction: column;
  gap: 3.5vw;
  background-color: transparent;
  width: 60vw;
  margin: 0 auto;
}

.profile-form__div {
  display: flex;
  justify-content: space-between;
  /* gap: 5vw; */
  align-items: center;
}

.profile-form__input-div {
  display: flex;
  flex-direction: column;
  /* gap: 5vw; */
  align-items: center;
  position: relative;
  width: 70%;
  gap: 1vh;
}

h2 {
  width: 100%;
  text-align: center;
}

h3 {
  width: 100%;
  text-align: center;
}

input {
  width: 100%;
  height: 2.5vh;
  background-color: #966f33;
  text-align: center;
}

input:disabled {
  opacity: 0.7;
}

.error {
  position: absolute;
  top: 3.5vh;
  left: 0;
  text-wrap: nowrap;
}

.profile__error-span {
  color: red;
  font-weight: 400;
}

button {
  background-color: #966f33;
  background-image: none;
  height: 5vh;
}

.modal__p {
  width: 100%;
}

.modal__buttons {
  display: flex;
  justify-content: space-around;
  gap: 3vw;
  width: 100%;
}

.modal__btn {
  width: 40%;
}
