.search-compontent {
  min-height: 110vh;
}

.sidebar {
  width: 33vw;
}

.sidebar__content {
  width: 30vw;
}

.search-bar {
  width: 45%;
  height: 3vh;
  border-radius: 0.5vw;
  margin: 0 auto 2vh;
  text-align: center;
}

.homepage__rooms {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5%;
  row-gap: 3vh;
  width: 100%;
}

.homepage__current-selection {
  width: 100%;
}

h2 {
  margin: 0 auto;
}

@media screen and (max-width: 700px) {
  .homepage__rooms {
    grid-template-columns: repeat(1, 1fr);
  }
}
