.homepage {
  display: flex;
  justify-content: space-between;
  gap: 5%;
}

section {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 2vh 0 0;
}

.homepage__room__section {
  width: 60%;
}

.homepage__current-selection__section {
  width: 30%;
}

.homepage__rooms {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5%;
  row-gap: 1%;
  width: 100%;
}

.homepage__current-selection {
  width: 100%;
}

h2 {
  margin: 0 auto;
}
