.homepage {
  display: flex;
  justify-content: space-between;
  gap: 5%;
}

section {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 2vh 0 0;
}

.search-bar {
  width: 60%;
  border-radius: 0.5vw;
  margin: 0 auto 2vh;
}

::placeholder {
  color: #fff;
}

.homepage__room__section {
  width: 60%;
}

.homepage__current-selection__section {
  width: 30%;
}

.homepage__rooms {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5%;
  row-gap: 3vh;
  width: 100%;
}

.homepage__current-selection {
  width: 100%;
}

h2 {
  margin: 0 auto;
}

@media screen and (max-width: 700px) {
  .homepage__rooms {
    grid-template-columns: repeat(1, 1fr);
  }
}
