section {
  padding: 0 10px;
  border: 1px white solid;
  /* background-color: #966f33; */
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 0.5vw;
}

.selected-description {
  background-color: #966f33;
}

.selected-description * {
  background-color: #966f33;
}

div {
  /* background-color: #966f33; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0;
}

h3 {
  /* background-color: #966f33; */
  font-size: 1em;
}

p {
  /* background-color: #966f33; */
  margin: 0;
  font-size: 0.85em;
}

.room__unavailable {
  color: #6b1f1a;
  font-weight: 500;
}

img {
  width: 80%;
  margin: 0 auto;
  /* background-color: #966f33; */
  min-height: 150px;
  max-height: 250px;
}

button {
  height: 50px;
  margin-left: 5px;
  border-radius: 0.4vw;
}
