.selected-description {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
}

.selected-description * {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
}

.selected-description button {
  background-color: var(--mat-sys-tertiary-container);
  color: var(--mat-sys-on-tertiary-container);
}

div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.room__amenities {
  justify-content: flex-start;
  margin: 0;
  margin-left: 2vw;
  gap: 1vw;
}

.room__amenities > img {
  width: 2vw;
  height: 2vw;
  min-width: 25px;
  min-height: 25px;
  margin: 0;
}

img {
  height: 200px;
}

button {
  height: 50px;
}
