<mat-card
  appearance="outlined"
  [class.selected-description]="room.id === selectedRoomId"
  class="mat-bg-secondary-container mat-text-on-secondary-container"
>
  <mat-card-header>
    <mat-card-title class="mat-text-on-secondary-container"
      >Description of room: {{ room.bedStyle }}, {{ room.roomColor }} style</mat-card-title
    >
  </mat-card-header>
  <mat-card-content align="center">
    <img [src]="room.roomImage" [alt]="room.bedStyle + ', ' + room.roomColor + ' style'" />
    <div class="room__amenities">
      @if (room.adaCompliant) {
        <img src="../../assets/ada_compliant.png" alt="Ada compliant" />
      }
      @if (!room.isSmoking) {
        <img src="../../assets/non-smoking.png" alt="Ada compliant" />
      }
    </div>
    <div>
      @if (room.isAvailable) {
        <p>max occupancy of {{ room.maxOccupancy }} guests</p>
      } @else {
        <p class="room__unavailable">
          Sorry, this room is already booked for these dates. Try booking after 12/28/2025
        </p>
      }
      <div>
        <p>${{ room.price }}</p>
        <mat-card-actions align="end">
          <button
            mat-raised-button
            class="mat-bg-secondary-container-container"
            [disabled]="!room.isAvailable"
            (click)="addRoomToBooking(room)"
          >
            Select
          </button>
        </mat-card-actions>
      </div>
    </div>
  </mat-card-content>
</mat-card>
