section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

.checkin__container {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
}

.checkin__name-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  /* justify-content: center; */
  gap: 1vw;
}

.checkin__input-div {
  display: flex;
  flex-direction: column;
}

input {
  width: 100%;
  height: 2vh;
  background-color: #966f33;
  text-align: center;
}

input:disabled {
  opacity: 0.7;
}

.email__control {
  margin-left: 13%;
}

.checkin__btn-div {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

button {
  background-color: #966f33;
  background-image: none;
  height: 5vh;
}

p {
  text-align: center;
  align-self: center;
}

.checkin__p {
  font-size: 1.5em;
  font-weight: 600;
}

table {
  border: 1px white solid;
  min-width: 50vw;
  overflow: auto;
}

.table__element {
  overflow-wrap: break-word;
  word-break: break-all;
}

th {
  background-color: #966f33;
}

td,
th {
  /* border: 1px white solid; */
  height: 10vh;
  min-width: 4rem;
  text-align: center;
}

table td,
table th {
  border: 1px solid #ccc;
  /* padding: 1vh 1vw; */
}

.td__btn {
  display: flex;
  min-width: 10vw;
  justify-content: center;
}
