<section>
  <h3>Which guest is checking in?</h3>
  <form [formGroup]="checkinForm" (ngSubmit)="lookupReservation()">
    <div class="checkin__container">
      <div class="checkin__name-container">
        <div class="checkin__input-div">
          <label for="firstNameControl">First Name: </label>
          <input
            type="text"
            id="firstNameControl"
            name="firstNameControl"
            formControlName="firstNameControl"
          />
        </div>
        <div class="checkin__input-div">
          <label for="lastNameControl">Last Name: </label>
          <input
            type="text"
            id="lastNameControl"
            name="lastNameControl"
            formControlName="lastNameControl"
          />
        </div>
      </div>
      <p class="checkin__p">Or:</p>
      <div class="checkin__name-container">
        <div class="checkin__input-div email__control">
          <label for="emailControl">Email: </label>
          <input type="text" id="emailControl" name="emailControl" formControlName="emailControl" />
        </div>
      </div>
    </div>
    <div class="checkin__btn-div">
      <button>Lookup Reservation</button>
    </div>
  </form>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Guest Email</th>
        <th>Room Type</th>
        <th>Room Colors</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <!-- @for (user of filteredUsers(); track user.id) {
      <tr>
        <td>{{ user?.firstName }}</td>
        <td>{{ user?.middleName }}</td>
        <td>{{ user?.lastName }}</td>
        <td class="table__element">{{ user?.email }}</td>
        <td>{{ user?.role }}</td>
        <td>@if (user?.deleted) { Deactivated } @else { Active }</td>
        <td class="table__element">{{ user?.address }}</td>
        <td>{{ user?.phoneNumber }}</td>
        <td class="td__btn">
          <div class="btn__div">
            <button (click)="openEditModal(user)">Edit</button>
            @if (!user?.deleted) {
            <button (click)="openDeleteConfirmation(user)">Delete</button>
            } @else {
            <button (click)="openReactivationConfirmation(user)">Reactivate</button>
            }
          </div>
        </td>
      </tr>
      } -->
    </tbody>
  </table>
</section>
