name: Back-end Build & Upload Artifact
run-name: Back-end Build & Upload Artifact

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout repo
      - name: Checkout repository
        uses: actions/checkout@v6.0.2

      # 2️⃣ Setup Java
      - name: Setup Java JDK
        uses: actions/setup-java@v5.1.0
        with:
          java-version: '17'
          distribution: 'oracle'

      # 3️⃣ Build project with Maven (skip tests)
      - name: Build project in Maven
        run: mvn -B package -DskipTests --file hotel-reservation-system/pom.xml
        env:
          DB_HOST: ${{ secrets.DB_HOST }}
          DB_NAME: ${{ secrets.DB_NAME }}
          DB_USERNAME: ${{ secrets.DB_USERNAME }}
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
          FRONTEND_BASE_URL: ${{ secrets.FRONTEND_BASE_URL }}
          STRIPE_PUBLISHABLE: ${{ secrets.STRIPE_PUBLISHABLE }}
          STRIPE_SECRET: ${{ secrets.STRIPE_SECRET }}

      # 4️⃣ List target folder to confirm build
      - name: List built artifacts
        run: ls -l hotel-reservation-system/target

      # 5️⃣ Upload JAR as GitHub Actions artifact
      - name: Upload JAR artifact
        uses: actions/upload-artifact@v3
        with:
          name: backend-jar
          path: hotel-reservation-system/target/*.jar
