name: Back-end Build Pipeline
run-name: Back-end Build Pipeline

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6.0.2

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5.1.0
        with:
          aws-region: us-east-1
          # AWS Access Key ID. Provide this key if you want to assume a role using access keys rather than a web identity token.
          aws-access-key-id: ${{secrets.ACCESS_KEY_ID}}
          # AWS Secret Access Key. Required if aws-access-key-id is provided.
          aws-secret-access-key: ${{secrets.SECRET_ACCESS_KEY}}

      - name: Setup Java JDK
        uses: actions/setup-java@v5.1.0
        with:
          # The Java version to set up. Takes a whole or semver Java version. See examples of supported syntax in README file
          java-version: '17'
          distribution: 'oracle'

      - name: Build project in Maven
        run: mvn -B package --file hotel-reservation-system/pom.xml
        env:
          DB_HOST: ${{secrets.DB_HOST}}
          DB_NAME: ${{secrets.DB_NAME}}
          DB_USERNAME: ${{secrets.DB_USERNAME}}
          DB_PASSWORD: ${{secrets.DB_PASSWORD}}
          FRONTEND_BASE_URL: ${{secrets.FRONTEND_BASE_URL}}

      - name: Deploy
        working-directory: hotel-reservation-system/target
        run: aws s3 cp *.jar s3://thethreebroomsticks/
