.homepage {
  display: flex;
  justify-content: center;
  gap: 5%;
}

section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

.homepage__room__section {
  width: 50%;
}

.homepage__current-selection__section {
  width: 30%;
}

.homepage__rooms {
  overflow: auto;
  width: 100%;
  height: 90vh;
}

.homepage__current-selection {
  width: 100%;
}

h2 {
  margin: 0 auto;
}
